# OS files
.DS_Store

# npm modules
/node_modules

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# Composer files

/.cache
/.php_cs.cache
/.phpunit.result.cache
/vendor
.php-cs-fixer.cache
.phpunit.cache
